<meta name="author" content="Christoph Pfeiffer">
<meta name="description" content="Kritzelei wird Schrift. Kritzeln, Bild machen, Schriftdatei zur Weiterverarbeitung erstellen.">
<meta name="keywords" content="Kritzelei wird Schrift, Typografie, Fontforge, Schrift">
<meta property="og:title" content="Kritzelei wird Schrift">
<meta property="og:site_name" content="Kritzelei wird Schrift">
<meta property="og:description" content="Kritzelei wird Schrift. Kritzeln, Bild machen, Schriftdatei zur Weiterverarbeitung erstellen.">
<meta property="og:image" content="https://maybegeek.github.io/Kritzelei-wird-Schrift/template/Kritzelei-wird-Schrift.png">
<meta property="og:url" content="https://maybegeek.github.io/Kritzelei-wird-Schrift/">
